# Visual Studio cache and settings
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
out/

# Others
*.obj
*.pdb
*.ipch
*.log
*.tmp
*.db
*.opendb
*.cache
*.ilk
*.exe
*.dll
*.lib
*.ncb
*.sdf
*.opensdf
*.tlog
*.idb
